{{#if success_msg}}
<div class="aler alert-success mx-auto pt-2" style="width: 90%;height: 45px; border-radius: 20px;text-align: center;">{{success_msg}}</div>
{{/if}}
{{#if error_msg}}
<div class="aler alert-danger mx-auto pt-2"style="width: 90%;height: 45px;border-radius: 20px;text-align: center;">{{error_msg}}</div>
{{/if}}