<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center">
                -Listando banco de dados-
            </h1>
        </div>       
    </div>
    <div class="row">
        <div class="col-6 bg-my-color-2 rounded shadow-lg text-light" style="height: 300px; overflow-y: scroll">
                <p>
                {{#each clientes}}
                <p>
                    Id: {{IdCliente}} | Nome: {{Nome}} | E-mail: {{Email}}
                </p>
                {{/each}}
                </p>
                <p>
                {{#each calculo}}
                <p>
                    Total primeiro trimestre 2020: R${{total}}
                </p>
                {{/each}}
                </p>
        </div>
        <div class="col-6 bg-my-color-3 rounded  shadow-lg text-light">
            <form action="/adicionar" method="post">
                <legend class="text-center mt-4">Cadastrando Usuários</legend>
                <label>Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Inserir o nome" required>
                <label>email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Inserir o email" required>
                <button type="submit" class="btn btn-my-color-4 mt-4">Enviar</button>
            </form>
        </div>
    </div>
</div>

