
<div class="container bg-my-color-2 col-6 mt-5">
    <form class="py-4 form text-light">
        <h3 class="text-lg-center ">Login</h3>
        <div class="form-group ">
            <span><i class="fas fa-envelope  fa-fw"></i></span>
            <input type="email" class="input-login" id="email" placeholder="Digite email">
        </div>
        <div class="form-group">
            <span><i class="fas fa-lock  fa-fw"></i></span>
            <input type="password" class="input-login " id="senha" placeholder="Digte senha">
            <small class="linha"></small>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-login rounded-lg shadow-lg ">Login</button>
        </div>
    </form>
</div>