<div class="conteiner mt-5 mx-auto">
    <div class="col-6 bg-my-color-2 rounded shadow-lg text-light" style="height: 300px;">
        <form action="pagamento/boleto/" method="GET">
        <label>id:</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Inserir o nome" required>
        <button type="submit" class="btn btn-primary">Enviar</button>
</form>
    </div>
</div>
