$my-color-1: #552266;
$my-color-2: #ff0077;
$my-color-3: #0022aa;
$my-color-4: #ffdd00;
$my-color-5: #dddddd;

$theme-colors:(
  "my-color-1": $my-color-1,
  "my-color-2": $my-color-2,
  "my-color-3": $my-color-3,
  "my-color-4": $my-color-4,
  "my-color-5": $my-color-5,
);

$body-bg: $my-color-5;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";